*.c linguist-language=C
*.h linguist-language=C
*.tt linguist-language=C

*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.cc linguist-language=C++
*.hh linguist-language=C++

*.csp linguist-language=CSpydr