# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

#valgrind files
vgcore.*

# temporary folders
.cache/
.vscode/
.vs/
bin/
obj/
build/
.xcode/

# llvm files
*.bc
*.ll

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# temporary file created by the compiler
a.xml
a.out.c
test.s

# KDevelop
*.kdev4
.kdev4/

# cmake
*.cmake
CMakeCache.txt
Makefile*
install_manifest.txt
CMakeFiles/
bin/
compile_commands.json
cmake_install.cmake
*#
src/std/std.csp
src/std/libc/libc.csp
src/std/sdl2/sdl.csp